.card-image {
  display: flex;
  justify-content: center;
  background: #dedede;
  padding: 10px;
}

figure.image {
  width: 70px;
}

.subtitle-content {
  font-style: italic;
  font-weight: 100;
}

.content {
  font-style: italic;
    font-weight: 400;
}
