
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Indra-Sistemas-Logo.svg/2560px-Indra-Sistemas-Logo.svg.png" width="90">
    </a>

    <a role="button" class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>

      <a class="navbar-item" routerLink="/lazy-loading" routerLinkActive="is-active">
        Lazy Loading
      </a>
      <a class="navbar-item" routerLink="/typed-forms" routerLinkActive="is-active">
        Typed Forms
      </a>
      <a class="navbar-item" routerLink="/async-pipe" routerLinkActive="is-active">
        Async pipe
      </a>
      <a class="navbar-item">
        Standalone
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark">
            <strong>Dúvidas?</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <div class="columns">
    <div class="column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

